<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Armstrong.WinServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Armstrong.ServerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
		<Armstrong.WinServer.Properties.Settings>
      <setting name="comPort" serializeAs="String">
          <value>COM5</value>
      </setting>
      <setting name="timeAsk" serializeAs="String">
          <value>40</value>
      </setting>
      <setting name="newShift" serializeAs="String">
          <value>06:00:00</value>
      </setting>
      <setting name="baudRate" serializeAs="String">
          <value>9600</value>
      </setting>
      <setting name="visibleId" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleIdServer" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleState" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleControlPoint" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleDb" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleLocation" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleValue" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleDim" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleDate" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleOnOff" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleCoefficient" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visiblePreAccident" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleAccident" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleType" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleCount" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleValueImpulses" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="visibleErrorCount" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleStateForTreeView" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleMinNuclidValue" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="visibleMaxNuclidValue" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="mainFormTitle" serializeAs="String">
          <value>ARMStrong (v1.1.4-20.rc-4.6 beta) | УИМ-</value>
      </setting>
      <setting name="serverId" serializeAs="String">
          <value />
      </setting>
      <setting name="hostName" serializeAs="String">
          <value>UIM-1</value>
      </setting>
  </Armstrong.WinServer.Properties.Settings>
  <Armstrong.ServerGUI.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="timeAsk" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="newShift" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="visibleId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleIdServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleControlPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleDim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleCoefficient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visiblePreAccident" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleAccident" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleValueImpulses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visibleErrorCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleStateForTreeView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleMinNuclidValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visibleMaxNuclidValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFormTitle" serializeAs="String">
                <value>ARMStrong (v1.1.4-20.rc-4.6 beta) | УИМ-</value>
            </setting>
        </Armstrong.ServerGUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>